.body {
    background-color:  #3AAfA9;
    color: white;
    font-family: 'Gruppo', cursive;
}

.main{
  width: 100%;
  text-align: center;
}

.footer {
    background-color:#2B7A78;
    padding-left: 90%;
    margin-top: 100%;
}

.authors {
    font-size: 17px;
    color: white;
}

.header {
    background-color:#2B7A78;
    padding-bottom: 1%;
}

.header1 {
    text-align: right;
    padding-right: 1%;
}

.heading {
    text-align: center;
    align-items: center;
    font-size: 60px;
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.heading2 {
    text-align: center;
    align-items: center;
    font-size: 40px;
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.name {
    font-size: 40px;
    margin-left: 1%;
}

.buttons {
    background-color:#2B7A78;
    color: white;
    padding: 5px 10px 5px 10px;
    transition: background-color 1s, color 1s;
    cursor: pointer;
    align-items: right;
    display:inline;
    margin-top: 1%;
    border: none;
    font-size: 20px;
    font-family: 'Gruppo', cursive;
    cursor: pointer;
}
.buttons:hover {
    background-color: #17252A;
    color: white;
}
.buttons:active{
    opacity: 0.7;
}

a {
  text-decoration: none
}

.address {
  color: white;
  text-decoration: none;
  cursor: pointer;
}

.address:hover {
    color: #17252A;
}

.address:active{
    opacity: 0.7;
}

.posts{
    margin-top: 2%;
    border-color: #2B7A78;
    width: 60%;
    margin-right: 20%;
    margin-left: 20%;
    font-size: 50px;
}
  
.post-list-title {
  font-size: 20pt;
  color:  #17252A;
  text-align: center;

}

.poster {
    font-size: 13pt;
    color:  white;
    text-align: center;
}

.post{
    padding-top: 1%;
    padding-bottom: 1%;
    border: 1px solid;
    width: 100%;
    cursor: pointer;
    overflow: auto;
}

.post:hover{
    background-color: #2B7A78;
    transition: 1s;
}

.category {
  margin-right: 2%;
  margin-left: 5%;
  display: inline-block;
  padding: 3px;
  text-align: center;
}

.category-tag {
    color: white;    
}

.dropbtn {
    min-width: 130px;
    color: white;
    padding: 5px;
    font-size: 30px;
    border: none;
    font-family: 'Gruppo', cursive;
    transition: 1s;
    background-color:#2B7A78;
}

.dropdown {
    position: relative;
    display: inline-block;
    padding: 1%;
}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 130px;
    z-index: 1;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
}

.dropdown-content a {
    color: white;
    padding: 5px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #17252A;
    transition: 1s;
}
  
.dropdown:hover .dropdown-content {
    display: block;
    transition: 1s;
}
  
.dropdown:hover .dropbtn {
    background-color: #17252A;
}
 
.input {
    border: none;
    color:#17252A;
    font-size: 20px;
    font-family: 'Gruppo', cursive;
    padding: 5px 10px 5px 10px;
    outline:none
}

.align {
    text-align: center;
    align-items: center;
}

.message {
    text-align: center;
    align-items: center;
    color: rgb(194, 3, 3); 
    font-size: 25px;
}

.readpost{
    padding-top: 1%;
    padding-bottom: 1%;
    border: 1px solid;
    width: 100%;
    text-align: center;
    overflow: auto;
}

.readcomment{
    padding-top: 1%;
    padding-bottom: 1%;
    border: 1px solid;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5px;
    text-align: center;
}

.content{
    font-size: 30px;
    font-family: 'Gruppo', cursive;
    text-align: center;
}

.radio {
    overflow: hidden;
    text-align: center;
    padding: 5px 10px 5px 10px;
}

.radio_input {
    display: none;
}
.radio_label {
    padding: 8px 14px;
    font-size: 20px;
    color: white;
    background-color:#2B7A78;
    cursor: pointer;
    transition: background-color 1s;
}
.radio_label:not(:last-of-type) {
    border-right: 1px solid #17252A;;
}
.radio_input:checked + .radio_label {
    background-color: #17252A;
    color: white;
}

.container {
    display: flex;
}

.form-container1 {
    margin: 20px auto;
    max-width: 500px;
}

.form-container {
    flex: 1;
    max-width: 500px;
    margin-left: 26%;
    margin-top: 1%;
}

.forumusers {
    margin-top: 1%;
    margin-left: 20px;
    margin-bottom: 2%;
    border: 1px solid white;
    text-align: center;
}

.users {
    font-size: 30px;
}

.user {
    cursor: pointer;
    font-size: 20px;
    width: 100%;
}

.user:hover {
    background-color: #2B7A78;
    transition: 1s;
    color: white;
}

.online {
    color: rgb(4, 107, 4)
}

.offline {
    color: rgb(250, 73, 73);
}

.unread {
    font-size: 20px;
    margin-top: 1%;
}

.messagebox {
    background-color: #3AAfA9;
    border: solid, 1px;
    border-color: white;
    font-family: 'Gruppo', cursive;
    font-size: 20px;
    color: white;
    outline: none
}

::-webkit-scrollbar {
    width: 10px;
  }
  
  ::-webkit-scrollbar-track {
    background-color: white;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #2B7A78;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: #17252A;
  }